Summary: Python General Hardware Management Initiative (IPMI and others)
%if "%{rhel}" == "8"
%global sname python2-aiohmi
Requires: python2-cryptography
%else
%global sname python-aiohmi
Requires: python-cryptography
%endif
Name: %sname
version: #VERSION#
Release: %{?release:%{release}}%{!?release:1}
Source0: aiohmi-%{version}.tar.gz
License: Apache License, version 2.0
Group: Development/Libraries
BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-buildroot
Prefix: %{_prefix}
BuildArch: noarch
Vendor: Jarrod Johnson <jjohnson2@lenovo.com>
Url: https://git.openstack.org/cgit/openstack/aiohmi


%description
This is a pure python implementation of IPMI protocol.

aiohmicons and aiohmiutil are example scripts to show how one may incorporate
this library into python code



%prep
%setup -n aiohmi-%{version}

%build
python setup.py build

%install
python setup.py install --single-version-externally-managed -O1 --root=$RPM_BUILD_ROOT --record=INSTALLED_FILES --prefix=/usr

%clean
rm -rf $RPM_BUILD_ROOT

%files -f INSTALLED_FILES
%defattr(-,root,root)

