Summary: Python General Hardware Management Initiative (IPMI and others)
%global sname python3-aiohmi
Requires: python3-cryptography
Name: %sname
version: #VERSION#
Release: %{?release:%{release}}%{!?release:1}
Source0: aiohmi-%{version}.tar.gz
License: Apache License, version 2.0
Group: Development/Libraries
BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-buildroot
Prefix: %{_prefix}
BuildArch: noarch
Vendor: Jarrod Johnson <jjohnson2@lenovo.com>
Url: https://git.openstack.org/cgit/openstack/aiohmi


%description
This is a pure python implementation of IPMI protocol.

aiohmicons and aiohmiutil are example scripts to show how one may incorporate
this library into python code



%prep
%setup -n aiohmi-%{version}

%build
python3 setup.py build

%install
python3 setup.py install --single-version-externally-managed -O1 --root=$RPM_BUILD_ROOT --record=INSTALLED_FILES --prefix=/usr
mkdir -p  $RPM_BUILD_ROOT/usr/share/licenses/aiohmi/
cp LICENSE  $RPM_BUILD_ROOT/usr/share/licenses/aiohmi/



%clean
rm -rf $RPM_BUILD_ROOT

%files -f INSTALLED_FILES
%license /usr/share/licenses/aiohmi/LICENSE
%defattr(-,root,root)

%changelog
* Thur Jan 22 2026 Jarrod Johnson <jjohnson2@lenovo.com> - 0.0.1
- Initial packaging
